{
    "presets":[
        "env",
        "react",
        "stage-2",
        "flow"
    ],
    "plugins": [
        "transform-decorators-legacy",
        ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
    ]
}