body{
    background-color: #f6f6f6;
    overflow-y: scroll;
}

#root {
    height: 100%;
}

.ui{
    &.secondary{
        &.menu{
            &.navigation {
                background-color: #333;
                padding:0px 10px;
                height:50px;
                width:100%;
            }
        }
    }

    &.segment {
        & .ui.inverted.segment.segment-label{
            background: #68a334;
        }
    }
}

#main{
    min-height: 100%;
    position:relative;
    padding-top:10px;
}

div.app_name {
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: #111;
    font-weight: 200;
    text-align: center;
    font-size: 49px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.user_network{
    color: #000;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 5px;
    line-height: 13px;
    text-align: right;

    & small {
        color: #58a2e2;
    }

    & > *{
        display: inline-block;
        float: right;
        clear: both;
        white-space: nowrap;
    }
}

.user_avatar{
    border-radius: 15px;
    background: #74b63a;
    width: 30px;
    height: 30px;
    padding: 8px 0;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    text-align: center;
}


.errors_container{
    width: 35%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.menu_user {
    font-size: 20px;
    height: 100%;
    margin: 0;
    display: flex;
    padding: 10px 10px 0px;

    &:hover {
        cursor: pointer;
    }
}

.network_chooser{
    .ui{
        &.pointing {
            &.dropdown{
                &.link {
                    &.item {
                        color: #fff;
                    }
                }
            }
        }
    }
}

div.footer {
    padding:5px;
    position: fixed;
    bottom: 0;
    width:100%;
    height:30px;
    color:#fff;
}

div.application_box{
    border: 1px #ddd solid;
    background: #fff;
    padding: 0px 5px;
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover{
        background: #f1f1f1;
    }
}

div.search_box {
    padding: 0px 15px;

}

div{
    &.empty_results {
        text-align:center;
        font-size: 30px;
        width: 100%;
        color: #58a2e2;
    }
}

input#searchInput {
    border-radius: 10px;
}

span.public_status{
    color:#3573af;
}

div.search_box {
    div.searchHolder {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 60px;
        font-size: 30px;
        border-radius: 10px;

        .ui.icon.input{
            .prompt {
                border-radius: 10px;
            }
            width: 100%;
            margin-bottom: 30px;
            height: 60px;
            font-size: 30px;
            border-radius: 10px;
        }
    }
}

div.head{
    text-align: center;
}

span.footer_version{
    color: #000;
}

.green{
    color: #74b63a;
}

.blue{
    color: #58a2e2;
}

span {
    &.empty_applications{
        font-size: 30px;
        text-align: center;
        width: 100%;
        color: #58a2e2;
    }
}

.omnisearch-result-row {
    overflow: hidden;
}

.omnisearch-result-row {
    .header {
        //white-space: nowrap;
        //text-overflow: ellipsis;
        //width: 90%;
        //overflow: hidden;
    }
}


.omnisearch-result-parent:hover {
    text-decoration: underline;
}

.omnisearch-result-parent {
    white-space: nowrap;
    display:block;
    width:75%;
    color: #999;
    padding: 0;
    font-size: 85%;
    line-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expander {
    &:hover{
        color:#000;
    }
    cursor: pointer;
    float: right;
    margin-left:5px;
}


.total-elements{
    float: right;
}

a.all-results-link{
    &:hover {
        text-decoration: underline;
    }
    float:right;
    color: #fff;

}

.ui.slider.checkbox.search-mode{
    position: absolute;
    right: 10%;
    top: 40%;

    &:before {
        content: 'Omnisearch (ctrl + space)';
        float: left;
        margin-left: -165px;
        margin-top: -2px;
        color: #c7c7c7;
        cursor: pointer;
    }

    input:checked{
        &~label:before{
            background-color: rgb(116, 182, 58) !important;
        }
    }

    label {
        &:after{
            background: #58a2e2 linear-gradient(transparent,rgba(0,0,0,.05));
        }
    }
}

.omnisearch-result-description {
    font-size: 10px;
}

div.state-icon-container {
    +div {
        display: table-cell;
    }

    float: left;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
}

i {
    &.fa {
        &.state-icon {
            +div {
                display: table-cell;
            }
            display: table-cell;
            font-size: 20px;
            color: #fff;

        }
    }
}

.text-info { color: #3c8db5; }
.text-muted { color: #7D7D7D; }
.text-danger { color: #ec5757; }
.text-default { color: #7D7D7D; }
.text-warning { color: #ecbc00; }
.text-success { color: #4b924b; }

.bg-info { background: #3c8db5; }
.bg-muted { background: #7D7D7D; }
.bg-danger { background: #ec5757; }
.bg-default { background: #7D7D7D; }
.bg-warning { background: #ecbc00; }
.bg-success { background: #4b924b; }

.bg-deal {
    &.state-icon-container {
        padding-left: 2px;
    }
    background: rgb(170, 68, 101);
}
.bg-lineitem { background: rgb(12, 116, 137); }
.bg-creative {
    &.state-icon-container {
        padding-left: 4px;
    }
    background: rgb(123, 114, 99);
}
.bg-layout { background: rgb(102, 106, 134); }
.bg-draft { background: rgb(123, 101, 68); }
.bg-audienceSegment {
    &.state-icon-container {
        padding-left: 4px;
    }
    background: rgb(23, 197, 169);
}

.popup-icon {
    margin-right:5px;
}

.bookmarklet {
    float: right;
}

.footer-info {
    float: left;
}

@media only screen and (max-width: 767px) {
    .menu_user {
        float: right;
        //display: block;
    }

    .ui.slider.checkbox.search-mode {
        right: 15%;

        &:before {
            content: '(ctrl + space)';
            margin-left: -95px;
        }
    }

    div.search_box {
        div.searchHolder {
            font-size: 20px;

            .ui.icon.input {
                font-size: 1em;
            }
        }
    }

    .ui.pointing.dropdown>.menu:after {
        right: 25px;
        left: auto;
    }

    .networks-dropdown {
        width: 100%;

        .menu {
            width: 100%;
        }
    }

    div.footer {
        position: relative;
    }

    div.app_name{
        font-size: 2.2em;
    }
}